body {
    background-color: #f1fffd;
}



.main-logo {
    width: 100%;
    padding-top: 50px;
    margin: 0;
    text-align: left;

}

.main-logo img {
    padding-left: 150px;
}

.main-logo h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    padding-top: 15px;
    padding-left: 50px;
    text-align: left;
}

.main-logo h2 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 85px;
    font-weight: 600;
    letter-spacing: 5px;
}

.about-main {
    text-align: center;
    margin: 0 -0.625rem;
    padding: 5.375rem 0 4.375rem;
    padding-top: 5.375rem;
    padding-right: 0px;
    padding-bottom: 4.375rem;
    padding-left: 0px;
}

.container-box {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
}

.circle {
    border-radius: 50%;
}

.container-box img {

    border-style: none;
}

.about-name {
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.75rem;
}

.about-name,
.title-font {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.about-job-name,
.site-subtitle {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.about-position {
    margin-top: -0.375rem;
}

.site-subtitle {
    font-size: 1.35rem;
    color: #0d0d0d;
    margin-top: 0.9375rem;
}

.about-location {
    font-size: 0.875rem;
    margin-top: 0.5662rem;
}

.about-location {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    letter-spacing: 2px;
}

.icon-pad-right {
    margin-right: 0.375rem;
}

.fa,
.fa-map-marker {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.about-email {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 2.125rem;
    margin-bottom: 0.4375rem;
}

.about-email a {
    display: inline-block;
    vertical-align: top;
    background: var(--about-link-bg);
    border: 0.0625rem solid var(--social-circle-border);
    color: #0d0d0d;
    padding: 0.625rem 1.1875rem;
    border-radius: 1.5rem;
}

a,
.active a {
    color: #0d0d0d;
    text-decoration: none;
    -webkit-transition: color 0.25s cubic-bezier(0.45, 0.3, 0.15, 0.95), opacity 0.25s cubic-bezier(0.45, 0.3, 0.15, 0.95);
    transition: color 0.25s cubic-bezier(0.45, 0.3, 0.15, 0.95), opacity 0.25s cubic-bezier(0.45, 0.3, 0.15, 0.95);
}

a {
    background-color: transparent;
}

.icon-pad-right {
    margin-right: 0.375rem;
}

.fa {
    font-weight: 400;

}

.fa,
.fa-envelope-open {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.about-social {
    margin-top: 150px;
    margin-left: 890px;
    display: inline-block;
}


.about-social a {
    color: #0d0d0d;
    border-radius: 50%;
    border: 1px solid #0d0d0d;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

.about-social a:hover {
    transition: .20s ease-in-out;
    text-shadow: 2px 2px 5px #191970;
}

.social_icons {
    width: 100%;
}


.social_icons ul {
    text-align: center;
    margin: 0;
    padding: 50px 20px 20px 20px;
}


.social_icons ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 5px 35px;
    font-size: 50px;

}

.social_icons ul li a {
    color: #0d0d0d;
}

.social_icons ul li a:hover {
    transition: .20s ease-in-out;
    text-shadow: 2px 2px 5px #191970;
}

.navbar {
    background-color: #f1fffd;
    overflow: visible;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #0d0d0d;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
}

.navbar a:hover {
    transition: .20s ease-in-out;
    text-shadow: 2px 2px 5px #191970;
}

@media (max-width: 1024px) {

    .main-logo {
        width: 100%;
        text-align: center;
    }
    .main-logo img {
        padding: 0;
        text-align: center;
    }

    .main-logo h1 {
        padding: 20px 25px;
        text-align: center;
    }

    .social_icons ul {
        padding: 50px 5px 50px 5px;
    }

    .social_icons ul li {
        font-size: 0px;
    }

    .navbar {
        background-color: #f1fffd;
        overflow: visible;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navbar a {
        float: left;
        display: block;
        color: #0d0d0d;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 50px;
        font-family: 'Great Vibes', cursive;
    }

    .navbar a:hover {
        transition: .20s ease-in-out;
        text-shadow: 2px 2px 5px #191970;
    }

}

@media (max-width: 768px) {

    .main_logo {
        width: 100%;
        padding-top: 50px;
        margin: 0;
        text-align: center;
    }
    .main_logo img {
        padding-left: 0;
    }

    .main_logo h1 {
        font-family: 'Great Vibes', cursive;
        font-size: 50px;
        padding-top: 15px;
        padding-left: 20px;
        text-align: center;
    }

    .social_icons ul {
        padding: 50px 5px 50px 5px;
    }

    .social_icons ul li {
        font-size: 40px;
    }

    .navbar {
        background-color: #f1fffd;
        overflow: visible;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navbar a {
        float: left;
        display: block;
        color: #0d0d0d;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 50px;
        font-family: 'Great Vibes', cursive;
    }

    .navbar a:hover {
        transition: .20s ease-in-out;
        text-shadow: 2px 2px 5px #191970;
    }

}

@media (max-width: 375px) {
    .main-logo {
        width: 100%;
        text-align: left;
    }
    .main-logo img {
        padding: 0 0 5px 118px;
        text-align: left;
    }

    .main-logo h1 {
        padding: 0 20px;
        text-align: left;
        font-size: 48px;
    }

    .main-logo h2 {
        font-size: 50px;
        text-align: center;
    }

    .about-main {
        text-align: center;
    }

    .about-name {
        font-size: 25px;
        text-align: center;
    }

    .about-location {
        font-size: 25px;
        text-align: center;
    }

    .about-email {
        font-size: 20px;
        text-align: center;
    }

    .navbar {
        background-color: #f1fffd;
        overflow: visible;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navbar a {
        float: left;
        display: block;
        color: #0d0d0d;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Great Vibes', cursive;
    }

    .navbar a:hover {
        transition: .20s ease-in-out;
        text-shadow: 2px 2px 5px #191970;
    }
}

@media (max-width: 360px) {
    .main-logo {
        width: 100%;
        text-align: left
    }
    .main-logo img {
        padding: 0 0 0 115px;
        text-align: left;
    }

    .main-logo h1 {
        padding: 20px 25px;
        text-align: left;
    }

    .main-logo h2 {
        font-size: 50px;
        text-align: center;
    }

    .about-main {
        text-align: center;
    }

    .about-name {
        font-size: 25px;
        text-align: center;
    }

    .about-location {
        font-size: 25px;
        text-align: center;
    }

    .about-email {
        font-size: 20px;
        text-align: center;
    }

    .navbar {
        background-color: #f1fffd;
        overflow: visible;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navbar a {
        float: left;
        display: block;
        color: #0d0d0d;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Great Vibes', cursive;
    }

    .navbar a:hover {
        transition: .20s ease-in-out;
        text-shadow: 2px 2px 5px #191970;
    }
}
