body {
    background-color: #f1fffd;
}



.main-logo {
    width: 100%;
    padding-top: 50px;
    margin: 0;
    text-align: left;

}

.main-logo img {
    padding-left: 150px;
}

.main-logo h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    padding-top: 15px;
    padding-left: 50px;
    text-align: left;
}

.main-logo h2 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 85px;
    font-weight: 600;
    letter-spacing: 5px;
}

.content-wrapper {
    padding-left: 10%;
    padding-right: 10%;
}

.content-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.content-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
}

.site-wrapper {
    padding-left: 10%;
    padding-right: 10%;
}

.site-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.site-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
}

.contact-page {
    padding-bottom: 3.75rem;
}

.site-content {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.contact-page>.container-small {
    padding-left: 0;
    padding-right: 0;
}

.container-small {
    max-width: 51.25rem;
}

.container-small,
.container-lg {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
}

.text-center {
    text-align: center;
}

.contact-main {
    padding-top: 2.9375rem;
    padding-bottom: 10.00rem;
}

.contact-title title-font h1,
h2,
h3,
h4,
.title-font {
    font-family: 'Cinzel', serif;
}

.contact-title {
    font-size: 2.875rem;
    margin-top: 1.25rem;
    margin-bottom: 5.00rem;
    color: #0d0d0d;
    text-align: center;
}

.about-social {
    margin-top: 150px;
    margin-left: 890px;
    display: inline-block;
}


.about-social a {
    color: #0d0d0d;
    border-radius: 50%;
    border: 1px solid #0d0d0d;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

.about-social a:hover {
    transition: .20s ease-in-out;
    text-shadow: 2px 2px 5px #191970;
}

.social_icons {
    width: 100%;
}


.social_icons ul {
    text-align: center;
    margin: 0;
    padding: 150px 20px 20px 20px;
}


.social_icons ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 5px 35px;
    font-size: 50px;

}

.social_icons ul li a {
    color: #0d0d0d;
}

.social_icons ul li a:hover {
    transition: .20s ease-in-out;
    text-shadow: 2px 2px 5px #191970;
}

.navbar {
    background-color: #f1fffd;
    overflow: visible;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #0d0d0d;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
}

.navbar a:hover {
    transition: .20s ease-in-out;
    text-shadow: 2px 2px 5px #191970;
}

@media (max-width: 768px) {

    .main-logo {
        width: 100%;
        text-align: center;
    }
    .main-logo img {
        padding: 0;
        text-align: center;
    }

    .main-logo h1 {
        padding: 20px 25px;
        text-align: center;
    }

    .contact-main {
        padding-bottom: 1.00rem;
    }

    .social_icons ul {
        padding: 50px 20px 20px 20px;
    }

    .navbar {
        background-color: #f1fffd;
        overflow: visible;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navbar a {
        padding: 10px 10px;
    }
}

@media (max-width: 1024px) {
    .main-logo {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .main-logo img {
        padding: 0;
        text-align: center;
    }

    .main-logo h1 {
        padding: 20px 25px;
        text-align: center;
        font-size: 80px;
    }

    .main-logo h2 {
        font-size: 50px;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .main-logo {
        width: 100%;
        text-align: left;
    }
    .main-logo img {
        padding: 0 0 5px 118px;
        text-align: left;
    }

    .main-logo h1 {
        padding: 0 20px;
        text-align: left;
        font-size: 48px;
    }

    .main-logo h2 {
        font-size: 50px;
        text-align: center;
    }

    .contact-main {
        text-align: center;
        padding: 15px 10px 15px 10px;
    }

    .contact-title {
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .social_icons ul li {
        text-decoration: none;
        list-style: none;
        display: inline-block;
        margin: 5px 20px;
        font-size: 40px;
    }

    .navbar {
        background-color: #f1fffd;
        overflow: visible;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navbar a {
        float: left;
        display: block;
        color: #0d0d0d;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Great Vibes', cursive;
    }

    .navbar a:hover {
        transition: .20s ease-in-out;
        text-shadow: 2px 2px 5px #191970;
    }

}

@media (max-width: 360px) {
    .main-logo {
        width: 100%;
        text-align: left;
    }
    .main-logo img {
        padding: 0 0 5px 118px;
        text-align: left;
    }

    .main-logo h1 {
        padding: 0 20px;
        text-align: left;
        font-size: 48px;
    }

    .main-logo h2 {
        font-size: 40px;
        text-align: center;
    }

    .main-logo h2 {
        font-size: 40px;
        text-align: center;
    }

    .contact-main {
        text-align: center;
        padding: 15px 10px 15px 10px;
    }

    .contact-title {
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar {
        background-color: #f1fffd;
        overflow: visible;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navbar a {
        float: left;
        display: block;
        color: #0d0d0d;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Great Vibes', cursive;
    }

    .navbar a:hover {
        transition: .20s ease-in-out;
        text-shadow: 2px 2px 5px #191970;
    }
}
